.checked {
    color: orange;
}

.title {
    display: flex;
    justify-content: space-between;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}