body {
  display: flex;
  flex-direction: column;
}

header {
  justify-content: space-between;
  display: flex;
  margin: 5px;
}

footer {
  margin-top: auto;
}

.main {
  margin-top: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type="date"][disabled] {
  cursor: no-dropS;
}